{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login">
  <h2>Войти</h2>
  <form class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label class="form__label" for="id_username">Имя</label>
    <input
      class="form__input"
      type="text"
      name="username"
      placeholder="Введите ваше имя"
      id="id_username"
      required
    /><br />
    <label class="form__label" for="id_password">Пароль</label>
    <input
      class="form__input"
      type="password"
      name="password"
      placeholder="Пароль"
      id="id_password"
      required
    /><br />
    <button class="form__btn" type="submit">Войти</button>
    {% for error in login_form.non_field_errors %}
    <div class="alert alert-danger"><p>{{ error }}</p></div>
    {% endfor %}
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock %}
