{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="expenses">
  <h2>Фильтрация расходов</h2>
  <form method="GET">
    <select name="year">
      <option value="">Все</option>
      {% for expense_year in expense_years %}
        <option value="{{ expense_year.date__year }}" {% if selected_year == expense_year.date__year %}selected{% endif %}>{{ expense_year.date__year }}</option>
      {% endfor %}
    </select>
    <button type="submit">Фильтровать</button>
  </form>
      <a href="{% url 'expense_create' %}">Создать новый расход</a> <br>

  {% for expense in expenses %}
  {% if expense.user == request.user %}
    <p>{{ expense.expense_name }} <br>{{ expense.category.name }} <br> {{ expense.date }} <br> {{ expense.amount }} <br> {{ expense.description }}</p>
    <a href="{% url 'expense_edit' expense.expense_id %}">Редактировать</a>
    <form method="POST" action="{% url 'expense_delete' expense.expense_id %}">
      {% csrf_token %}
      <button type="submit">Удалить</button>
    </form>
  {% endif %}
  {% empty %}
    <p>Нет доступных расходов.</p>
  {% endfor %}



    <p>Общие расходы: {{ total_expenses_sum }}</p>
  </div>

</div>
{% endblock %}

